*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(254, 231, 243);
}
body{
    background: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container{
    background: white;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}
/* Screens */
.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}
.screen.active{
    display: block;
}

/*Start Screen */
#start-screen h1{
    color:rgb(188, 54, 94);
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-family: Pacifico;
}
#start-screen p{
    color:black;
    margin-bottom: 30px;
    font-size: 1.1rem;
}


.quiz-header{
    margin-bottom: 2rem;
}

#question-text{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.quiz-info{
    display: flex;
    justify-content: center;
    color: #666;
    margin-bottom: 10px;
}

.answers-container{  
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.answers-btn {
    background-color: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
}

.answer-button:hover {
    background-color: rgb(252, 250, 251);
    border-color:rgb(220, 213, 215);
}
 
.answer-btn.correct{
    background-color:#eadbc8;
    border-color: white;
    color: rgb(78, 205, 78);
}
.answer-btn.incorrect{
    background-color:#eadbc8;
    border-color: white;
    color: rgb(213, 10, 44);
}

.progress-bar{
    height: 10px;
    background-color: #eadbc8;
    border-radius: 5px;
    overflow: hidden; 
    margin-top: 20px;
}

.progress{
    height: 100px;
    background-color: rgb(184, 67, 96);
    width: 0%;
    transition: width 0.4s ease;
}

/*Result Screen*/
#result-screen h1 {
    color: pink;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.result-info p{
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;  
}

#result-message{
    font-size: 1.5rem;
    color: pink;
    font-weight: 600;
}

button{
    background-color: rgb(228, 78, 153);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: rgb(169, 50, 90);
}

/* Responsive Design*/
@media (max-width: 500px){
    /* When we hit 500px and below, implement the styles below*/
.screen{
    padding: 1rem;
}
#start-screen h1{
    font-size: 1rem;
}
}